{% extends 'main.html' %}

{% block title %}Appointment Detail{% endblock title %}
{% block content %}

<div class="container container-border w-50">
  <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
              <h2>Appointment Details</h2>
                <br><br>
                {% if request.user.user_type == 'patient' %}
                <p><strong>Doctor Name:</strong> {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</p>
                {% else %}
                <p><strong>Patient Name:</strong> {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</p>
                {% endif %}
                <p><strong>Appointment Date:</strong> {{ appointment.date }}</p>
                <p><strong>Appointment Start Time:</strong> {{ appointment.start_time }}</p>
                <p><strong>Appointment End Time:</strong> {{ appointment.end_time }}</p>
                <a href="{% url 'patient-dashboard' %}" class="btn btn-outline-secondary">Go to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>

{% endblock content %}