{% extends 'main.html' %}

{% block title %}{{action}} Blog Post{% endblock title %}

{% block content %}

<div class="container w-50">
    <h1>Create Blog-Post:</h1>
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back</a>
    <br><br>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
    
        <div class="mb-3">
            {{field.label}} {{field}}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary" name="button" value="upload-btn">Upload</button>
      <button type="submit" class="btn btn-primary" name="button" value="draft-btn" style="float: right;">Save as draft</button>
    </form>
    <br>

    </div>

{% endblock content %}