{% extends 'main.html' %}
{% block title %}Doctors List{% endblock title %}

{% block style %}
<style>
    /* Custom CSS for fixed image size */
    .card-img-fixed {
        height: 300px; /* Set your desired height */
        object-fit: cover; /* Ensure the image covers the entire space without distortion */
    }
</style>
{% endblock style %}
{% block content %}
<div class="container">


    <div class="row">
      {% for doctor in doctors %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="{{ doctor.imageURL }}" class="card-img-top card-img-fixed" alt="{{ doctor.username }}">
          <div class="card-body">
            <br>
            <h5 class="card-title">{{ doctor.first_name }} {{ doctor.last_name }}</h5>
            <br>
            <a href="{% url 'appointment-form' doctor.id %}" class="btn btn-primary">Book Appoinment</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}